.shop-category-banner{
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shop-category-indexsort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}
.shop-category-indexsort span{
    font-weight: 600;
}
.shop-category-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shop-category-product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px 170px;
    row-gap: 80px;
}